################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SyncData/bin
/SyncData/obj/Debug/net6.0/ref
/SyncData/obj/Debug/net6.0/refint
/SyncData/obj/Debug/net6.0
/SyncData/obj
/ReadSessionCookieTest/bin/Debug/net6.0
/ReadSessionCookieTest/obj
/SyncData/obj/Debug/net6.0/SyncData.AssemblyInfo.cs
/SyncData/obj/Debug/net6.0/SyncData.AssemblyInfoInputs.cache
/SyncData/obj/Debug/net6.0/SyncData.csproj.AssemblyReference.cache
/aws-session-sync-net8/bin
/aws-session-sync-net8/obj
/Infologs.SessionReader/bin
/Infologs.SessionReader/obj
