################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SyncData/bin
/SyncData/obj/Debug/net6.0/ref
/SyncData/obj/Debug/net6.0/refint
/SyncData/obj/Debug/net6.0
/SyncData/obj
